{% extends 'base.html' %}

{% block content %}
<div class="p-8">
    <div class="grid grid-cols-3">
        <div class="flex justify-center">
            <a href="{% url 'welcome_view' %}" class="btn">Go back</a>
        </div>        
        <div>
            <h1 class="text-center text-4xl xl:text-4xl">Your Accounts</h1>
        </div>
        <div class="flex justify-center">
            <a hx-get="{% url 'account_creation' %}" hx-target="main" class="btn btn-success">+ New Account</a>
        </div>
    </div>

    <div class="divider"></div>

    <div tabindex="0" class="collapse border-base-300 bg-base-200 border">
        <div class="collapse-title text-xl font-medium">Filters</div>
        <div class="collapse-content">
          <p></p>
        </div>
    </div>

    <div id="items" class="grid grid-cols-1 m-2">
        {% for account in object_list %}
        <div class="stats shadow mb-3">
            <div class="stat place-items-center">
              <div class="stat-title">Account ID: {{account.id}}</div>
              <div class="stat-value">{{account.name.upper}}</div>
              <div class="stat-desc">{{account.description}}</div>
            </div>
          
            <div class="stat place-items-center">
              <div class="stat-title">Current Balance</div>
              <div class="stat-value">{{account.currency.code}} {{account.current_balance}}</div>
              <div class="stat-desc">
                <!--
                TODO: MAKE THIS TO SHOW THE CURRENCY IF THE CURRENCY IS DIFFERENT FROM THE MAIN ONE
                -->
              </div>
            </div>

            <div class="stat place-items-center">
              <a href="#" class="btn btn-success w-full mb-3">VISUALIZE TRANSACTIONS</a>
              <a hx-target="main" hx-get="{% url 'account_update' pk=account.pk %}" class="btn btn-primary w-full mb-3">EDIT ACCOUNT DETAILS</a>
              <a href="#" class="btn btn-secondary w-full mb-3">DELETE ACCOUNT</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div tabindex="0" class="collapse border-base-300 bg-base-200 border">
        <div class="collapse-title text-xl font-medium">Reports</div>
        <div class="collapse-content">
          <a href="#" class="btn btn-primary">Generate Cash Flow by Month (PDF)</a>
          <a href="#" class="btn btn-warning">Generate Cash Flow by Year (PDF)</a>
          <a href="#" class="btn btn-secondary">Generic Account List with Current Totals (PDF)</a>
        </div>
    </div>
</div>
{% endblock %}