{% load widget_tweaks %}
 
<div class="grid grid-cols-3">
    <div class="flex justify-center">
        <a href="{% url 'account_list' %}" class="btn">Go back</a>
    </div>        
    <div>
       {% if edit %}
       <h1 class="text-center text-4xl xl:text-4xl">Update the Account {{form.instance.name}}</h1>
       {% else %}
       <h1 class="text-center text-4xl xl:text-4xl">Make a New Account</h1>       
       {% endif %}
    </div>
    <div class="flex justify-center">
    </div>
</div>

<form {% if not edit %} hx-post="{% url 'account_creation' %}" {% else %} hx-post="{% url 'account_update' pk=form.instance.pk %}" {% endif %} hx-target="main" hx-select="main" class="grid grid-cols-1">
    {% csrf_token %}
    <div class="mb-3">
        {{form.currency.label}} <br>
        {% render_field form.currency class="select select-bordered w-full" %}

        {% if form.currency.errors %}
        <div role="alert" class="alert alert-warning">
            <span>
                {% for error in form.currency.errors %}
                {{error}}
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{form.name.label}} <br>
        {% render_field form.name class="input input-bordered w-full" placeholder="Name of the Account" %}

        {% if form.name.errors %}
        <div role="alert" class="alert alert-warning">
            <span>
                {% for error in form.name.errors %}
                {{error}}
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{form.description.label}} <br>
        {% render_field form.description class="input input-bordered w-full" placeholder="Description of the Account" %}

        {% if form.description.errors %}
        <div role="alert" class="alert alert-warning">
            <span>
                {% for error in form.description.errors %}
                {{error}}
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </div>

    {% if not update %}
    <div class="mb-3">
        <label for="">Start Balance:</label> <br>
        {% render_field form.current_balance class="input input-bordered w-full" minimum="0" placeholder="Your account will have this initial balance. If empty, 0 will be assumed." %}  

        {% if form.current_balance.errors %}
        <div role="alert" class="alert alert-warning">
            <span>
                {% for error in form.current_balance.errors %}
                {{error}}
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </div>
    {% endif %}
    
    <button class="btn btn-primary">
        {% if update %}
        Update
        {% else %}
        Create
        {% endif %}
        Account
    </button>
</form>