{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
{% endblock %}

{% block content %}
<div class="p-1">
    <div class="grid xl:grid-cols-3 xs:grid-cols-1">
        <div class="flex justify-center items-center p-2">
            <a href="{% url 'general_transactions_list' %}" class="btn">Go back</a>
        </div>        
        <div class="p-2">
            <h1 class="text-center text-4xl xl:text-4xl">Historic Balances</h1>
        </div>
        <div class="flex justify-center items-center flex-col p-2">
        </div>
    </div>
    
    <div class="divider"></div>

    {% if messages %}
      <div role="alert" class="alert alert-success">
          <span>
            {% for message in messages %}
            {{message}}
            {% endfor %}
          </span>
    </div>
    <div class="divider"></div>
    {% endif %}


    <div class="collapse bg-gray-900 mb-3">
      <input type="checkbox" checked />
      <div class="collapse-title text-xl font-medium">Filters</div>
        <div class="collapse-content">
          <form hx-get="{% url 'historic_balance_list' %}" hx-select="#items" hx-target="#items" hx-swap="outerHTML" hx-indicator="#loading-bars" hx-trigger="submit, change, keyup delay:1s">
            <div class="grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
              <div class="me-4">
                <label for="id_date_from">Year:</label> <br>
                {% render_field filter.form.year class="input input-bordered w-full" %}
              </div>

              <div class="me-4">
                <label for="id_date_until">Month:</label> <br>
                {% render_field filter.form.month class="select select-bordered w-full" %}
              </div>

              <input type="submit" hidden>
            </div>
          </form>       
        </div>
    </div>

    <div class="collapse bg-gray-900 mb-3">
        <div class="collapse-title text-xl font-medium">Reports</div>
        <div class="collapse-content">
          <a href="#" class="btn btn-primary">Generate Cash Flow by Month (PDF)</a>
          <a href="#" class="btn btn-warning">Generate Cash Flow by Year (PDF)</a>
          <a href="#" class="btn btn-secondary">Generic Account List with Current Totals (PDF)</a>
        </div>
    </div>

    <div class="table-wrapper">
        <div class="table-wrapper">
        <table class="table table-xs w-full text-center">
            <thead>
                <tr>
                    <td>Account</td>
                    <th>Balance ({{request.user.main_currency}})</th>
                    <th>IN ({{request.user.main_currency}})</th>
                    <th>OUT ({{request.user.main_currency}})</th>
                </tr>
            </thead>
            <tbody id="items">
                {% for balances in object_list %}
                <tr>
                    <td>{{balances.obj.account.name}} - {{balances.obj.month}}/{{balances.obj.year}}</td>
                    <td><span class="tooltip tooltip-left" data-tip="{{balances.obj.account.currency.code}} {{balances.obj.balance}}">{{balances.balance}}</span></td>
                    <td><span class="tooltip tooltip-left text-success" data-tip="{{balances.obj.account.currency.code}} {{balances.obj.total_in}}">{{balances.total_in}}</span></td>
                    <td><span class="tooltip tooltip-left text-error" data-tip="{{balances.obj.account.currency.code}} {{balances.obj.total_out}}">{{balances.total_out}}</span></td>
                </tr>
                {% endfor %}
                <tr>
                  <td>Monthly Exchange Differences</td>
                  <td>N/A</td>
                  <td><span class="tooltip tooltip-left text-success" data-tip="{{request.user.main_currency.code}} {{exchange_diffs.total_in}}">{{exchange_diffs.total_in|default:0.00}}</span></td>
                  <td><span class="tooltip tooltip-left text-error" data-tip="{{request.user.main_currency.code}} {{exchange_diffs.total_out}}">{{exchange_diffs.total_out|default:0.00}}</span></td>
              </tr>
                <tr class="bg-gray-900 text-white">
                    <td class="text-right font-bold">Total:</td>
                    <td class="text-center font-bold">{{totals.total_balance}}</td>
                    <td class="text-center font-bold text-success">{{totals.total_in}}</td>
                    <td class="text-center font-bold text-error">{{totals.total_out}}</td>
                </tr>
                <tr class="bg-gray-900 text-white">
                    <td colspan="2" class="text-right font-bold">Total CashFlow:</td>
                    <td colspan="2" class="text-center font-bold {% if total_cash_flow < 0 %} text-error {% elif total_cash_flow > 0 %} text-success {% endif %}">{{total_cash_flow}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div id="loading-bars" class="htmx-indicator indicator-style">
      <span class="loading loading-bars loading-lg htmx-indicator"></span>
    </div>
    <input type="hidden" name="account" id="account" value="{{account.id}}">
</div>

<script src="{% static 'js/block-screen.js' %}"></script>
<script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}