{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<form hx-post="{% url 'change_password' %}" id="form" hx-select="main" hx-swap-oob="true" hx-swap="innerHTML">
    {% csrf_token %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="col-span-1 sm:col-span-2 lg:col-span-3">
                <h1 class="text-2xl font-bold text-center">Change Password</h1>
                <p class="text-sm text-gray-500 text-center">Please enter your current password and the new password you would like to set.</p>
            </div>
            {% if messages %}
                <div class="col-span-1 lg:col-span-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="sm:col-span-1 lg:col-span-1">
                <label class="label">
                    <span class="label-text">Current Password</span>
                </label>
                <label class="input input-bordered flex items-center">
                    {% render_field form.current_password class="grow" type="password" minlength="8" %}
                </label>
                {% if form.current_password.errors %}
                    <div role="alert" class="alert alert-warning">
                        <small>
                            {% for error in form.current_password.errors %}
                            {{ error }}
                            {% endfor %}
                        </small>
                    </div>
                {% endif %}
            </div>

            <div class="sm:col-span-1 lg:col-span-1">
                <label class="label">
                    <span class="label-text">New Password</span>
                </label>
                <label class="input input-bordered flex items-center">
                    {% render_field form.new_password class="grow" type="password" minlength="8" %}
                </label>
                {% if form.new_password.errors %}
                    <div role="alert" class="alert alert-warning">
                        <small>
                            {% for error in form.new_password.errors %}
                            {{ error }}
                            {% endfor %}
                        </small>
                    </div>
                {% endif %}
            </div>

            <div class="sm:col-span-1 lg:col-span-1">
                <label class="label">
                    <span class="label-text">Repeat New Password</span>
                </label>
                <label class="input input-bordered flex items-center">
                    {% render_field form.repeat_password class="grow" type="password" minlength="8" %}
                </label>
                {% if form.repeat_password.errors %}
                    <div role="alert" class="alert alert-warning">
                        <small>
                            {% for error in form.repeat_password.errors %}
                            {{ error }}
                            {% endfor %}
                        </small>
                    </div>
                {% endif %}
            </div>

            <div class="sm:col-span-2 lg:col-span-3 flex justify-center items-center">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
    </div>
</form>
{% endblock content %}