{% load widget_tweaks %}
{% load static %}
 
<div class="grid grid-cols-3">
    <div class="flex justify-center">
        <a href="{% url 'transactions_list' pk=account.pk %}" class="btn">Go back</a>
    </div>
    <div>
        {% if edit %}
        <h1 class="text-center text-4xl xl:text-4xl">Update the Transaction {{form.instance.name}}</h1>
        {% else %}
        <h1 class="text-center text-4xl xl:text-4xl">Make a New Transaction</h1>
        {% endif %}

        <h1 class="text-success text-center">Current Balance: {{account.currency.code}} <span id="current_balance">{{account.current_balance}}</span></h1>
        {% if form.instance %}
        <input type="hidden" name="previous-amount" value="{{form.instance.amount}}" />
        <input type="hidden" name="previous-type" value="{{form.instance.transaction_type}}" />
        {% endif %}
    </div>
    <div class="flex justify-center">
    </div>
</div>

<form {% if not edit %} hx-post="{% url 'transaction_creation' pk=account.pk %}" {% else %} hx-post="{% url 'transaction_update' pk=form.instance.pk %}" {% endif %} hx-target="main" hx-select="main" class="grid grid-cols-1" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="id_description" class="form-label">Description:</label>
        {% render_field form.description class="input input-bordered w-full" %}
    </div>
    <div class="mb-3 grid md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1">
        <div class="me-3">
            <label for="id_date" class="form-label">Date:</label>
            {% render_field form.date class="input input-bordered w-full" type="datetime-local" %}
        </div>
        <div class="mb-3">
            <label for="id_reference" class="form-label">Reference (if traceable):</label>
            {% render_field form.reference class="input input-bordered w-full" %}
        </div>       
    </div>

    <div class="mb-3 grid md:grid-cols-3 sm:grid-cols-1 xs:grid-cols-1">
        <div class="me-3">
            <label for="id_transaction_type" class="form-label">Transaction Type:</label>
            {% render_field form.transaction_type class="select select-bordered w-full" hx-select="#id_subtract_from_tag" hx-target="#id_subtract_from_tag" hx-swap="outerHTML" hx-get="" hx-trigger="change" %}
        </div>

        <div class="me-3">
            <label for="id_amount" class="form-label">Amount ({{account.currency.code}}):</label>
            {% render_field form.amount required="required" class="input input-bordered w-full" min="0.01" step="0.01" placeholder="Must be greater than or equal to 0.01" %}
            <small class="text-xs">Final Balance:  <b class="text-error">{{account.currency.code}}  <span id="final_balance">{{account.current_balance}}</span></b></small>
        </div>
        {% if not form.instance.account %}
        <div>
            <label for="id_operate_on_tag" class="form-label">Operate on Tag:</label>            
            {% render_field form.tag class="select select-bordered w-full" %}
        </div>
        {% endif %}
    </div>
    <div class="grid md:grid-cols-3 sm:grid-cols-1 xs:grid-cols-1">
        <div class="mb-3 flex justify-center flex-col items-center">
            <label for="id_hold" class="form-label">On Hold:</label>
            {% render_field form.hold type="checkbox" class="checkbox" %}
        </div>

        {% if not form.instance.account %}
        <div class="mb-3 flex justify-center flex-col items-center">
            <label for="id_hold" class="form-label">Internal Operation:</label>
            {% render_field form.internal type="checkbox" class="checkbox" tooltip="Internal operations are not visible to the general income/expenses reports." %}
        </div>
        {% endif %}

        <div class="mb-3 flex justify-center flex-col items-center">
            <label for="id_voucher" class="form-label">Voucher:</label>
            {% render_field form.voucher type="file" accept=".pdf, .jpg, .png" %}
        </div>
    </div>
    <div class="flex justify-center">
        <button type="submit" class="btn btn-primary">Register Transaction</button>
    </div>
</form>

<script src="{% static 'js/form.js' %}"></script>