<label for="id_to_account" hx-swap-oob="true" class="form-label">To Account ({{to_account.currency.code}}):</label>
<span id="currency_to_acc" hx-swap-oob="true">{{to_account.currency.code}}</span>  
<span hx-swap-oob="true" id="current_balance_to_acc"> {{to_account.current_balance}} </span>

<input type="number" hx-include="input, select" hx-trigger="keyup changed delay:500ms" hx-get="/transfer/update/{{to_account.pk}}" hx-swap-oob="true" id="id_received_amount" name="received_amount" value="{{rec_amount}}" hx-swap="none" class="input input-bordered w-full" />
<b class="text-error">{{final_to}}<span id="currency_to_acc2" hx-swap-oob="true"> {{to_account.currency.code}}</span>  
    <span hx-swap-oob="true" id="rec_final_balance"> {{final_to}} </span></b></small>

<small class="text-xs">
    Calculated Fee: 
    <b class="text-error">
        <span hx-swap-oob="true" id="currency_to_acc3">
            {% if deduce_fee_from == 'receiver' %}
                {{ to_account.currency.code }}
            {% else %}
                {{ from_account.currency.code }}
            {% endif %}
        </span>
        <span id="fee" hx-swap-oob="true">{{ fee }}</span>
    </b>
</small>
