{% load widget_tweaks %}
{% load static %}
 
<div class="grid grid-cols-3">
    <div class="flex justify-center">
        <a href="{% url 'transactions_list' pk=account.pk %}" class="btn">Go back</a>
    </div>
    <div>
        <h1 class="text-center text-4xl xl:text-4xl">Make a New Transfer</h1>

        <h1 class="text-success text-center">Current Balance: {{account.currency.code}} <span id="current_balance">{{account.current_balance}}</span></h1>
        {% if form.instance %}
        <input type="hidden" name="previous-amount" value="{{form.instance.amount}}" />
        <input type="hidden" name="previous-type" value="{{form.instance.transaction_type}}" />
        {% endif %}
    </div>
    <div class="flex justify-center">
    </div>
</div>

<form hx-post="{% url 'transfer_creation' pk=account.pk %}" hx-target="main" hx-select="main" class="grid grid-cols-1" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3 grid md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1">
        <div class="me-3">
            <label for="id_description" class="form-label">Description:</label>
            {% render_field form.description class="input input-bordered w-full" required="required" %}
        </div>

        <div class="me-3">
            <label for="id_date" class="form-label">Date:</label>
            {% render_field form.date class="input input-bordered w-full" type="datetime-local" %}
        </div>
    </div>
    <div class="mb-3 grid md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1">

        <div class="me-3">
            <label for="id_amount" class="form-label">Sent Amount ({{account.currency.code}}):</label>
            <input type="number" name="amount" id="id_amount" value="{{form.amount.value}}" hx-include="input:not(#id_received_amount), select" class="input input-bordered w-full" min="0.01" step="0.01" placeholder="Must be greater than or equal to 0.01" hx-get="/transfer/update/{{account.pk}}" hx-trigger="keyup changed delay:500ms" hx-swap="none">
            <small class="text-xs">Sender Final Balance:  <b class="text-error">{{account.currency.code}}  <span id="final_balance">{{account.current_balance}}</span></b></small>
        </div>

        <div>
            <label for="id_operate_on_tag" class="form-label">Operate on Tag:</label>            
            {% render_field form.tag class="select select-bordered w-full" %}
        </div>
    </div>

    <div class="mb-3 grid md:grid-cols-3 sm:grid-cols-1 xs:grid-cols-1">
        <div class="me-3">
            <label for="id_to_account" class="form-label">To Account:</label>
            <select name="to_account" class="select select-bordered w-full" hx-include="input:not(#id_received_amount), select" hx-trigger="change" hx-swap="none" hx-get="/transfer/update/{{account.pk}}">
                {% for option in form.to_account.field.choices %}
                    <option value="{{ option.0 }}" {% if option.0 == form.to_account.value %}selected{% endif %}>{{ option.1 }}</option>
                {% endfor %}
            </select>
            <small class="text-xs">Current Balance:  <b class="text-success"><span id="currency_to_acc"></span>  <span id="current_balance_to_acc"> - </span></b></small>     
        </div>

        <div class="me-3">
            <label for="id_transaction_type" class="form-label">Received Amount:</label>
            <input type="number" name="received_amount" id="id_received_amount" value="{{form.received_amount.value}}" hx-include="input, select" class="input input-bordered w-full" min="0.01" step="0.01" placeholder="Must be greater than or equal to 0.01" hx-get="/transfer/update/{{account.pk}}" hx-trigger="keyup changed delay:500ms" hx-swap="none">
            <small class="text-xs">Receiver Final Balance:  <b class="text-error"><span id="currency_to_acc2"></span>  <span id="rec_final_balance"> - </span></b></small>
        </div>

        <div class="me-3">
            <label for="id_deduce_from_tag" class="form-label">Deduce Fee From Tag:</label>
            {% render_field form.deduce_from_tag class="select select-bordered w-full" %}
            <small class="text-xs">Calculated Fee:  <b class="text-error">{{account.currency.code}}  <span id="fee"> - </span></b></small>
        </div>
        
    </div>
    <div class="grid md:grid-cols-3 sm:grid-cols-1 xs:grid-cols-1">
        <div class="me-3">
            <label for="id_reference" class="form-label">Reference:</label>
            {% render_field form.reference class="input input-bordered w-full" %}
        </div>
        
        <div class="mb-3 flex justify-center align-items-center">
            <label for="id_voucher" class="form-label">Voucher:</label> 
            {% render_field form.voucher type="file" accept=".pdf, .jpg, .png" %}
        </div>
    </div>
    
    <div class="flex justify-center">
        <button type="submit" class="btn btn-primary">Register Transfer</button>
    </div>
</form>

<script src="{% static 'js/form.js' %}"></script>