{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="p-8">
    <div class="grid xl:grid-cols-3 xs:grid-cols-1">
        <div class="flex justify-center items-center p-2">
            <a href="{% url 'welcome_view' %}" class="btn">Go back</a>
        </div>        
        <div class="p-2">
            <h1 class="text-center text-4xl xl:text-4xl">TOTAL TRANSACTIONS</h1>
            <h3 id="balance" class="text-center text-success text-2xl xl:text-2xl">Current Balance: {{main_currency}} {{current_balance}}</h3>
        </div>
        <div class="flex justify-center items-center flex-col p-2">
        </div>
    </div>

    <div class="divider"></div>

    <div class="collapse bg-base-200 mb-3">
      <input type="checkbox" />
      <div class="collapse-title text-xl font-medium">Filters</div>
        <div class="collapse-content">
          <form hx-get="{% url 'general_transactions_list' %}" hx-select="#items" hx-target="#items" hx-swap="outerHTML" hx-indicator="#loading-bars" hx-trigger="submit, change, keyup delay:1s">
            <div class="grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
              <div class="me-4">
                <label for="id_date_from">From Date:</label> <br>
                {% render_field filter.form.date_from class="input input-bordered w-full" type="datetime-local" %}
              </div>

              <div class="me-4">
                <label for="id_date_until">Until Date:</label> <br>
                {% render_field filter.form.date_until class="input input-bordered w-full" type="datetime-local" %}
              </div>

              <div class="me-4">
                <label for="id_transaction_type">Transaction Type:</label> <br>
                {% render_field filter.form.transaction_type class="select select-bordered w-full" %}
              </div>

              <input type="submit" hidden>
            </div>
          </form>       
        </div>
    </div>
    <div class="collapse bg-base-200 mb-3">
        <div class="collapse-title text-xl font-medium">Reports</div>
        <div class="collapse-content">
          <a href="#" class="btn btn-primary">Generate General Cash Flow Report</a>
        </div>
    </div>

    <div id="items" class="table-wrapper">
        <table class="table table-xs w-full text-center">
            <thead>
                <tr class="bg-base-200">
                    <th>Date</th>
                    <th>Account</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Amount ({{main_currency}})</th>
                    <th>Reference</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in object_list %}
                <tr>
                    <td>{{transaction.date}} {% if transaction.hold %} <span class="badge badge-warning">(On Hold)</span> {%endif%}</td>
                    <td>{{transaction.account}}</td>
                    <td>{{transaction.description|default:'-'}}</td>
                    <td><span class="badge badge-{% if transaction.transaction_type == '+' %}success{% else %}error{% endif %}">{% if transaction.transaction_type == '+' %}INCOME{% else %}EXPENSE{% endif %}</span> </td>
                    <td>{% if transaction.transaction_type == '-' %}-{%endif%}{{transaction.amount}}</td>
                    <td>{{transaction.reference|default:'-'}}</td>
                </tr>
                {% empty %}                     
                <tr class="table-primary">
                    <td colspan="7" class="text-center">No transactions found.</td>
                </tr>
                {% endfor %}
                {% if page_obj.has_next %}
                <tr hx-trigger="revealed" hx-target="this" hx-swap="outerHTML" hx-select="#items" hx-get="{% url 'transaction_list' %}?page={{page_obj.next_page_number }}" hx-include=".input, .select"></tr>
                {% endif %}
            </tbody>
        </table>        
    </div>

    <div id="loading-bars" class="htmx-indicator indicator-style">
      <span class="loading loading-bars loading-lg htmx-indicator"></span>
    </div>

    
</div>

<script src="{% static 'js/block-screen.js' %}"></script>
{% endblock %}