{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="m-auto p-5 flex" style="min-height: 85vh;">
	<div class="shadow-xl p-5 border border-gray-200 rounded-lg max-w-lg p-4 m-auto sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
		<form class="space-y-6" method="post">
            {% csrf_token %}
			<h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign Up to CashFlow</h3>

            {% if messages %}
            <div role="alert" class="alert alert-warning">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                <span>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </span>
            </div>
            {% endif %}

            <div>
                <label class="input input-bordered flex items-center gap-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        class="h-4 w-4 opacity-70">
                            
                        <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                        <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                    </svg>
                    {% render_field form.email class="w-full" placeholder="Email*" %}
                </label>

                {% if form.email.errors %}
                    <div role="alert" class="alert alert-warning">
                        <span>
                            {% for error in form.email.errors %}
                            {{error}}
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>

            <div class="grid grid-rows-1 grid-cols-2">
                <div>
                    <label class="input input-bordered flex items-center gap-0">
                        {% render_field form.first_name placeholder="First Name*" %}
                    </label>
                    {% if form.first_name.errors %}
                    <div role="alert" class="alert alert-warning">
                        <span>
                            {% for error in form.first_name.errors %}
                            {{error}}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
    
                <div>
                    <label class="input input-bordered flex items-center gap-2">
                        {% render_field form.last_name placeholder="Last Name" %}
                    </label>
                    {% if form.last_name.errors %}
                    <div role="alert" class="alert alert-warning">
                        <span>
                            {% for error in form.last_name.errors %}
                            {{error}}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="grid grid-rows-1 grid-cols-2">
                <div>
                    <label class="input input-bordered flex items-center">
                        {% render_field form.password placeholder="Password" class="grow" type="password" min_length="8" %}
                    </label>
                    {% if form.password.errors %}
                        <div role="alert" class="alert alert-warning">
                            <span>
                                {% for error in form.password.errors %}
                                {{error}}
                                {% endfor %}
                            </span>
                        </div>
                    {% endif %}
                </div>
    
                <div>
                    <label class="input input-bordered flex items-center">
                        {% render_field form.repeat_password type="password" min_length="8" placeholder="Repeat Password" %}
                    </label>
                    {% if form.repeat_password.errors %}
                        <div role="alert" class="alert alert-warning">
                            <span>
                                {% for error in form.repeat_password.errors %}
                                {{error}}
                                {% endfor %}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div>
                <div class="flex">                    
                    <div class="tooltip">
                        {{form.main_currency.label}}
                    </div>
                </div>
                {% render_field form.main_currency class="select select-bordered w-full" %}

                {% if form.main_currency.errors %}
                    <div role="alert" class="alert alert-warning">
                        <span>
                            {% for error in form.main_currency.errors %}
                            {{error}}
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Your Account</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300 mb-0">
                Not registered? <a href="{% url 'login_view' %}" class="text-blue-700 hover:underline dark:text-blue-500">Log In!</a>
            </div>
        </form>
	</div>
</div>
{% endblock %}