{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance App</title>
    

    <!-- EXTERNAL IMPORTS -->
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />

    <!-- INTERNAL IMPORTS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    {% include 'navbar.html' %}

    <main class="p-5">
        {% block content %}
        {% endblock %}
    </main>
    
    {% include 'footer.html' %}

    
</body>
</html>