{% load widget_tweaks %}
 
<div class="grid grid-cols-3">
    <div class="flex justify-center">
        <a href="{% url 'tag_list' %}" class="btn">Go back</a>
    </div>
    <div>
        <h1 class="text-center text-4xl xl:text-4xl">Assign Money to the Account {{account}}</h1>
        <h3 id="balance" class="text-center text-success text-2xl xl:text-2xl">{{account.currency.code}} {{account.current_balance}}</h3>
    </div>
    <div class="flex justify-center">
    </div>
</div>

<input type="hidden" id="account_balance" name="account_balance" value="{{account.current_balance}}">
<form {% if not edit %} hx-post="{% url 'tag_creation' %}" {% else %} hx-post="{% url 'tag_update' pk=form.instance.pk %}" {% endif %} hx-target="main" hx-select="main" class="grid grid-cols-1">
    {% csrf_token %}
    
    <div class="mb-3">
        <div class="overflow-x-auto">
            <table class="table text-center">
              <thead>
                <tr>
                  <th></th>
                  <th>Tag Name</th>
                  <th>Previous Assigned in the Account</th>
                  <th>Money to Assign</th>
                  <th>Total Assigned in Tag</th>
                </tr>
              </thead>
              <tbody>
                {% for form in forms %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>
                    {{form.form.instance.tag}}
                    <input type="hidden" name="{{form.form.instance.pk}}-tag" value="{{form.form.instance.tag.pk}}">               
                  </td>
                  <td class="previous-assigned">{{form.form.instance.amount}}</td>
                  <td class="money-to-assign">{% render_field form.form.amount class="input input-bordered w-full total" %}</td>
                  <td class="total-tag">{{form.total}}</td>
                </tr>
                {% endfor %}
                <tr>
                  <th colspan="2">Totals</th>
                  <td id="total-assigned-previous">{{totals.total_account}}</td>
                  <td id="total-assigned-now">{{totals.total_account}}</td>
                  <td id="total-assigned-tags">{{totals.total_tags}}</td>
                </tr>
                <tr>
                  <th colspan="3">Not Assigned</th>
                  <td id="not-assigned">{{totals.not_assigned}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <div class="flex justify-center">
        <button type="submit" class="btn btn-primary">Register Assignment</button>
    </div>
</form>

<script type="text/javascript" src="/static/js/totals.js"></script>